
.profile-head{
    background-color: #003459;
    border:solid 2px #D9D9D9;
}

.profile-head>div.col-12{
    background-color: #D9D9D9;
}

.profile-head img{
    width: 142px;
    height: 142px;
}

.profile-head div.align-self-end>h1{
    color: #003459;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 32pt;
}

.profile-head div.align-self-end>h1+small{
    color: #003459;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: light;
    font-size: 12pt;
}

.profile-info{
    background-color: #D9D9D9;
}

.profile-info p{
    margin: 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #003459;
}

.profile-info h2{
    font-weight: bolder;
    color: #003459;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
}

.profile-dates{
    background-color: #D9D9D9;
}

.profile-dates h2{
    font-weight: bolder;
    color: #003459;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
}